<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>chatApp</title>
</head>
<body>
    <div class="rooms-container">
        <h1>Select a room to chat!</h1>
        <ul>
            <% rooms.forEach(room => { %>
                <li>
                    <a href="/channels/<%= user.username %>/<%= room.name %>">
                        <h2><%= room.name %></h2>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>