* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', serif;
}

body {
    background-color: #2f4960;
    background-image: linear-gradient(to bottom right, #2F4960, #102040);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
    color: #fff;
}

form {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 50px 30px;
    background-image: linear-gradient(to bottom, #00BC7E, #108665);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);;
    border-radius: 16px;
}

form h1 {
    color: #FFF;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.err-msg {
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    color: red;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

form .formGroup {
    margin-bottom: 30px;
}

form label {
    display: block;
    color: #eee;
    font-size: 14px;
    margin-bottom: 5px;
}

form input {
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

form input:not([type="submit"]) {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: #222;
    font-size: 18px;
    font-weight: 300;
}

form input:not([type="submit"])::placeholder {
    color: #ccc;
}

form input:not([type="submit"]):focus, form input:not([type="submit"]):valid {
    background-color: #fff;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: #2f4960;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

form a {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: #2f4960;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    text-align: center;
}

.rooms-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 50px 30px;
    background-image: linear-gradient(to bottom, #00BC7E, #108665);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);;
    border-radius: 16px;
}

.rooms-container h1 {
    color: #FFF;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.rooms-container a {
    display: block;
    width: 300px;
    padding: 15px;
    border-radius: 8px;
    background-color: #2f4960;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    text-align: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 50px 30px;
    background-image: linear-gradient(to bottom, #00BC7E, #108665);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);;
    border-radius: 16px;
}

.profile-container h1 {
    color: #FFF;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.profile-container h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px;
}

.profile-container a {
    display: block;
    width: 300px;
    padding: 15px;
    border-radius: 8px;
    background-color: #2f4960;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    text-align: center;
}

.profile-container button {
    display: block;
    width: 150px;
    padding: 15px;
    border-radius: 8px;
    background-color: #2f4960;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    text-align: center;
}

.edit-container button {
    display: block;
    width: 150px;
    padding: 15px;
    border-radius: 8px;
    background-color: #2f4960;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.4s;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
    text-align: center;
    margin: 15px auto -15px auto;
}

.edit-container .delete {
    margin-top: 20px;
}

.edit-container .delete input {
    background-color: #d9534f;
}